$cWhite: #fff;
$cGrey: #eeeeee;
$cBlue: #4488bb;
$cRed: #bb4444;;
$cDark: #333333;;

$tcGrey: #aaaaaa;

@mixin onlyIE {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}