@import "../../assets/scss/variables";

.app {
  .form {
    width: 290px;
    padding: 20px;
    padding-top: 15px;
    border-radius: 3px;
    background-color: $cWhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    @media (max-width: 575px) {
      padding: 20px 10px;
    }

    &__title {
      color: $cBlue;
      font-family: "ArialBold";
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__row {
      margin-bottom: 15px;
      position: relative;

      .custom-field {
        width: 100%;
      }
    }

    &__buttons {
      justify-content: space-evenly;

      button {
        margin: auto;
        width: 50%;
      }
    }
  }
}