@import "../../assets/scss/variables";

$componentName: 'custom-modal';

.#{$componentName} {

  .modal-dialog {
    max-width: 590px;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border-top: 0;
    border-bottom: 0;
    padding: 0;
  }

  .modal-header {
    color: $cDark;
    font-family: "ArialBold";
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;

    .close {
      color: transparent;
      background: url("../../assets/img/close.svg") no-repeat;
      background-position: center;
      margin: 0;
      opacity: 1;

      span {
        display: none;
      }
    }
  }

  .modal-body {
    color: $cDark;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
  }
}